<%- include('./partials/base.ejs', {user: user}) %>

    <link rel="stylesheet" href="/stylesheets/name_and_picture.css">

    <div class="container">
        <div class="form-card">
            <form action=<%=`/user/${user.CWID}/save` %> method="POST" enctype="multipart/form-data">

                <!-- Display profile image -->
                <!-- <img src="{{ url_for('static', filename=image_filename.split('/')[-1]) }}" alt="Profile Image"
                    class="img-thumbnail img-circle profile-img" style="width:200px; height:200px;">
                <br>
                <br> -->

                <!-- Image Upload -->
                <!-- <div class="form-group">
                    <label for="profilePicture">Profile Picture:</label>
                    <input type="file" class="form-control-file" id="profilePicture" name="profilePicture"
                        accept="image/*">
                </div> -->

                <!-- First Name -->
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                        placeholder="Enter your first name" required <% if (user.First_Name) { %>
                    value=<%= `${user.First_Name}` %>
                        <% } %>>
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                        placeholder="Enter your last name" required <% if (user.Last_Name) { %>
                    value=<%= `${user.Last_Name}` %>
                        <% } %>>
                </div>

                <!-- Preferred Name Input -->
                <div class="form-group">
                    <label for="preferredName">Preferred Name:</label>
                    <input type="text" class="form-control" id="preferredName" name="preferredName"
                        placeholder="Enter your preferred name" <% if (user.Preferred_Name) { %>
                    value=<%= `${user.Preferred_Name}` %>
                        <% } %>>
                </div>

                <!-- School Input -->
                <div class="form-group">
                    <label for="school">School:</label>
                    <select class="form-control" id="schoolDropdown" name="schoolDropdown" required>
                        <% for(let i=0; i < schools.length; i++) { %>
                            <option value="<%= schools[i] %>" <% if (schools[i]===user.School_Name) { %> selected <% }
                                    %>>
                                    <%= schools[i] %>
                            </option>
                            <% } %>
                    </select>
                </div>

                <!-- Committees Dropdown -->
                <div class="form-group">
                    <label for="committees">Committees:</label>
                    <select class="form-control" id="committeeDropdown">
                        <option value="" disabled selected>Select Committee</option>
                        <% for( let i=0; i < committees.length; i++ ) { %>
                            <option value="<%= committees[i].Committee_ID %>">
                                <%= committees[i].Committee_Name %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="otherCommittee" placeholder="Enter Other Committee">
                    <br>
                    <button type="button" id="addOtherCommittee" class="btn btn-secondary">Add</button>
                </div>
                <input type="hidden" id="selectedCommitteesInput" name="selectedCommittees" value="">
                <div class="form-group">
                    <div class="selected-committees" id="selectedCommittees">
                        <!-- Selected committees will be displayed here -->
                    </div>
                </div>

                <!-- Service Statement Input -->
                <div class="form-group">
                    <label for="serviceStatement">Service Statement:</label>
                    <textarea class="form-control" id="serviceStatement" name="serviceStatement" rows="6"
                        maxlength="250"
                        placeholder="Enter your service statement"><% if (user.Service_Statement) { %><%= `${user.Service_Statement}` %><% } %></textarea>
                </div>

                <!-- Candidate Statement Input -->
                <div class="form-group">
                    <label for="candidateStatement">Candidate Statement:</label>
                    <textarea class="form-control" id="candidateStatement" name="candidateStatement" rows="6"
                        maxlength="750"
                        placeholder="Enter your candidate statement"><% if (user.Candidate_Statement) { %><%= `${user.Candidate_Statement}` %><% } %></textarea>
                </div>

                <br>
                <br>
                <br>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>



    <script>
        const currCommittees = <% - userCommittees %>;
        const committeeDropdown = document.getElementById("committeeDropdown");
        const otherCommitteeInput = document.getElementById("otherCommittee");
        const addOtherCommitteeButton = document.getElementById("addOtherCommittee");
        const selectedCommittees = document.getElementById("selectedCommittees");
        const selectedSet = new Set(); // To keep track of selected committees

        // Sort the dropdown options alphabetically
        const dropdownOptions = Array.from(committeeDropdown.options);
        dropdownOptions.sort((a, b) => a.text.localeCompare(b.text));
        committeeDropdown.innerHTML = ''; // Clear the dropdown
        dropdownOptions.forEach(option => {
            committeeDropdown.appendChild(option);
        });

        function updateSelectedCommitteesInput() {
            const selectedCommitteesInput = document.getElementById("selectedCommitteesInput");
            selectedCommitteesInput.value = Array.from(selectedSet).join(',');
        }

        // add saved committees to list first
        if (currCommittees != null) {
            currCommittees.forEach((e) => {
                const committeeName = e.Committee_Name;
                const committeeID = e.Committee_ID;
                const listItem = document.createElement("div");
                listItem.innerHTML = `
                    <span id="${committeeID}">${committeeName}</span>
                    <button type="button" class="delete-button" onclick="removeCommittee(this)">x</button>
                `;
                selectedCommittees.appendChild(listItem);
                selectedSet.add(committeeID); // Add to selected set
                updateSelectedCommitteesInput();
            });
        }

        // Dropdown change
        committeeDropdown.addEventListener("change", function () {
            const selectedOption = committeeDropdown.options[committeeDropdown.selectedIndex];

            if (selectedOption && selectedOption.value && !selectedSet.has(selectedOption.value)) {
                const committeeName = selectedOption.text;
                const committeeID = selectedOption.value;
                const listItem = document.createElement("div");
                listItem.innerHTML = `
                    <span>${committeeName}</span>
                    <button type="button" class="delete-button" onclick="removeCommittee(this)">x</button>
                `;
                selectedCommittees.appendChild(listItem);
                selectedSet.add(committeeID); // Add to selected set
            }

            updateSelectedCommitteesInput();
        });

        addOtherCommitteeButton.addEventListener("click", function () {
            const committeeName = otherCommitteeInput.value.trim();
            if (committeeName && !selectedSet.has(committeeName)) {
                const listItem = document.createElement("div");
                listItem.innerHTML = `
                    <span>${committeeName}</span>
                    <button type="button" class="delete-button" onclick="removeCommittee(this)">x</button>
                `;
                selectedCommittees.appendChild(listItem);
                otherCommitteeInput.value = "";
                selectedSet.add(committeeName); // Add to selected set
            }

            updateSelectedCommitteesInput();
        });

        function removeCommittee(button) {
            const listItem = button.parentElement;
            const committeeName = listItem.querySelector("span").textContent;
            const committeeID = parseInt(listItem.querySelector("span").id);
            console.log(committeeID);
            console.log(selectedSet);
            selectedSet.delete(committeeID); // Remove from selected set
            selectedCommittees.removeChild(listItem);
            committeeDropdown.selectedIndex = -1;
            updateSelectedCommitteesInput();
        }

    </script>

    <%- include('./partials/footer.ejs') %>