<!--Faculty page to view their own profile-->

<%- include('partials/base.ejs', {user: user}) %>

<link rel="stylesheet" href="/stylesheets/profile.css">

<div id="profile" class="profile-container text-center mt-5">

    <!--Display name-->
    <h1 class="mt-3"><%= `${user.First_Name} ${user.Last_Name}` %></h1>

    <!--Display Preferred Name-->
    <% if (user.Preferred_Name) { %>
        <h4 class="mt-3"><%= `Preferred Name: ${user.Preferred_Name}`%></h4>
    <% } %>
    

    <!--Display School-->
    <h4 class="mt-3">
        <% if (user.School_Name) { %>
            <%= `${user.School_Name}` %>
        <% } else { %>
            Please select a school in Edit Profile
        <% } %>
    </h4>
    
    <hr>

    <!--Display Committees-->
    <h5>Committees:</h5>
    <p>
        <% if (user.Is_On_Committee) { %>
                <% userCommittees.forEach(element => { %>
                    <%= `${element.Committee_Name}` %>
                <br>
                <% }) %>
        <% } else { %>
          None
        <% } %>
        
    </p>
    
    <hr>
    
    <!--Display Service Statement-->
    <h5>Service Statement:</h5>
    <p>
        <% if (user.Service_Statement) { %>
            <%= `${user.Service_Statement}` %>
        <% } else { %>
            N/A
        <% } %>
    </p>

    <hr>

    <!--Display Candidate Statement-->
    <h5>Candidate Statement:</h5>
    <p>
        <% if (user.Candidate_Statement) { %>
            <%= `${user.Candidate_Statement}` %>
        <% } else { %>
            N/A
        <% } %></p>
    </p>

    <!--Placeholder for more content or other sections-->
    <h5>Marist Page</h5>
    <p><%= `${user.Website_URL}`%></p>

</div>

<%- include('./partials/footer') %>